<aside>
  <div class="menu-wrapper">
    <div [routerLink]="['addNote']" class="menu-element add-note">
      <img src="assets/img/add.png">
      <p>Add Note</p>
    </div>
    <div [routerLink]="['notesHome']" class="menu-element">
      <img src="assets/img/home.png">
      <p>Notes home</p>
    </div>
    <div class="menu-element">
      <img src="assets/img/my-notes.png">
      <p>My notes</p>
    </div>
    <div class="menu-element">
      <img src="assets/img/favorite.png">
      <p>Useful notes</p>
    </div>
    <div class="menu-element">
      <img src="assets/img/profile.png">
      <p>Profile</p>
    </div>
    <nav>
      <a routerLink="">About</a>
      <a routerLink="">Contacts</a>
      <a routerLink="">Found a bug!</a>
    </nav>
  </div>
</aside>
