<div id="background">
  <div *ngIf="note == null; else mainWindow">
    <p class="wait">Please wait for the server's answer...</p>
  </div>
  <ng-template #mainWindow>
    <article>
      <div class="title">
        {{note.title}}
      </div>
      <div class="body">
        {{note.body}}
      </div>
      <div class="info-panel">
        <div>
          Likes, Comments and etc
        </div>
        <nav>
          <button class="viewButton" [routerLink]="['/addNote']">+ Add new</button>
          <button class="viewButton" [routerLink]="['/editNote', id]">Edit</button>
          <button class="viewButton" [routerLink]="['/deleteNote', note.id]">Delete</button>
        </nav>
      </div>
    </article>
  </ng-template>
</div>
