<div class="wrapper">
    <header class="header-wrapper">
      <app-header></app-header>
    </header>
    <main class="main-wrapper">
      <section class="main-section">
        <div class="aside">
          <app-aside></app-aside>
        </div>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </section>
    </main>
    <footer class="footer-wrapper">
      <app-footer></app-footer>
    </footer>
    <div class="buffer"></div>
    <div class="buffer1"></div>
</div>
