<div id="background">
  <div *ngIf="note == null; else mainWindow">
    <p class="wait">Please wait for the server's answer...</p>
  </div>
  <ng-template #mainWindow>
    <article>
      <h5>Are you sure that you want to delete following note?</h5>
      <nav>
        <button class="viewButton" (click)="deleteNote()">Delete</button>
        <button class="viewButton" (click)="goBack()">Go back</button>
      </nav>
      <div class="title">
        {{note.title}}
      </div>
      <div class="body">
        {{note.body}}
      </div>
      <div class="panel">
        <div class="text">
          Likes, Comments and etc
        </div>
      </div>
    </article>
  </ng-template>
</div>
