.head-wrapper {
  color: whitesmoke;
  height: 12vh;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.userInfo-wrapper {
  font-size: 12px;
  display: grid;
  grid-template-columns: minmax(55px, auto) 50px;
  grid-template-rows: repeat(4, 18px);
  grid-template-areas:
    "messages icon"
    "userName icon"
    "userRole icon"
    "exit icon";
  justify-content: right;
}
.icon-wrapper {grid-area: icon;}

.message-wrapper {
  grid-area: messages;
  display: grid;
  justify-content: right;
  margin-right: -5px;
}
.userName-wrapper {grid-area: userName;}
.userRole-wrapper {grid-area: userRole; margin-left: 15px}

.exit-wrapper {
  grid-area: exit;
  display: grid;
  justify-content: right;
  margin-right: 10px;
}
.logo {
  margin-top: 5px;
}
img {
  height: 70px;
}
a {color: whitesmoke;}
