<div id="background">
  <div *ngIf="!isNotesUpdated; else mainWindow">
    <p class="wait">Please wait for the server's answer...</p>
  </div>
  <ng-template #mainWindow>
    <main>
<!--      <button class="postButton" routerLink="/addNote">+ Add new note</button>-->
      <article *ngFor="let note of notes">
        <section class="title">
          {{note.title}}
        </section>
        <section class="body">
           <div class="text">
             {{note.body.slice(0, 200)}}...
           </div>
          <div class="info-panel">
            <div> Likes Comments Etc</div>
            <a [routerLink]="['/note', note.id]">Read more ...</a>
          </div>
        </section>
      </article>
    </main>
  </ng-template>
</div>
