<form id="background" class="form-group" [formGroup]="form" (ngSubmit)="post(form.value)">
  <div class="form">
    <div class="title-header">
      <div>
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" formControlName="title">
      </div>
      <div>
        <label>Tags</label>
        <input type="text" class="form-control tag" name="tags" formControlName="tags">
      </div>
      <div>
        <label>Access</label>
        <div>
          Public Private
        </div>
      </div>
    </div>
    <div class="body">
      <label for="body">note</label>
      <textarea type="text" class="form-control" id="body" name="body" formControlName="body"></textarea>
<!--      <p *ngif="!form.valid-->
<!--               && form.controls['title'].touched-->
<!--               && form.controls['body'].touched" class="error">all fields are required</p>-->
    </div>
    <nav>
      <button [disabled]="!form.valid" type="submit">+ Add note</button>
    </nav>
  </div>
</form>
